body {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
}

.dropdown-container {
    position: absolute;
    align-items: center;
    margin: 1rem 2.5rem 1rem 2.5rem ;   ;
}

.dropdown-button {
    display: flex;
    background-color: black;
    font-size: xx-large;
    height: 4vw;
    bottom: 0%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    cursor: pointer;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    padding-bottom: 0%;
    border: 0 solid black;
    
}

.listData {
    /* display: none; */
    padding-top: 0px;
    margin-top: 0px;
    width: 50vw;
    background-color: blue;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-top:0% ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; ;
}

.dropdown{
    width: 75vw;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.listData.active {
    display: flex;
}

.dropdown span::after {
    content: "-";
    font-size: 100px;
    height: 10px;
}

.data {
    display: flex;
}
.item li{
    margin-right: 15vw;
    font-size:large ;
    width: max-content;

}



.button {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: darkgreen;
}
