.dropdown {
    display: flex;
    background-color: black;
    width: 50vw;
    font-size: xx-large;
    height: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border: 0px black solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    cursor: pointer;
    justify-content: right;
}


.listData {
    /* display: none; */
    padding-top: 0px;
    margin-top: 0px;
    width: 50vw;
    background-color: blue;
    -webkit-transition: height 2s ease, height 2s ease;
    -moz-transition: height 2s ease, height 2s ease;
    -o-transition: height 2s ease, height 2s ease;
    transition: height 2s ease, height 2s ease;
}

.listData :hover {
    height: 50vh;

    /* display: none; */

}

.dropdown.active .listData {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown.active span::after {
    content: "+";
    font-size: 90px;
    height: 10px;


}

.dropdown span::after {
    content: "-";
    font-size: 100px;
    height: 10px;
}

.data {
    display: flex;
    flex-direction: row;
}

.data a {
    padding: 30px;
    text-decoration: none;
    color: white;

}

.dropdown.active {
    height: 100px;
}