/* Demo.css */

.container {
  margin: 20px;
}

.navbar {
  background-color: #333;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
}

#login {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.inputField,
.textareaField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitButton {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}

.errorStyle {
  color: red;
  /* Define any other styles for error messages */
}

/* Add any other styles specific to your BookDemo component */
