.sidebar {
  width: 250px;
  background: linear-gradient(116.18deg,#447ab6,#9933a3 99.08%);
  color: white;
  /* position: fixed; */
  height: 100%;
  overflow: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
  border-inline-color: white;

}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
}

.sidebar Link {
  text-decoration: none;
  color: #fff;
}

.sidebar Link:hover {
  text-decoration: underline;
}

